@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.976 0.003 85.873);
  --foreground: oklch(0.205 0.015 85.873);
  --card: oklch(0.99 0.002 85.873);
  --card-foreground: oklch(0.205 0.015 85.873);
  --popover: oklch(0.99 0.002 85.873);
  --popover-foreground: oklch(0.205 0.015 85.873);
  --primary: oklch(0.205 0.015 85.873);
  --primary-foreground: oklch(0.99 0.002 85.873);
  --secondary: oklch(0.556 0.058 38.652);
  --secondary-foreground: oklch(0.99 0.002 85.873);
  --muted: oklch(0.922 0.004 85.873);
  --muted-foreground: oklch(0.556 0.015 85.873);
  --accent: oklch(0.439 0.042 38.652);
  --accent-foreground: oklch(0.99 0.002 85.873);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.99 0.002 85.873);
  --border: oklch(0.896 0.006 85.873);
  --input: oklch(0.896 0.006 85.873);
  --ring: oklch(0.439 0.042 38.652);
  --chart-1: oklch(0.439 0.042 38.652);
  --chart-2: oklch(0.556 0.058 38.652);
  --chart-3: oklch(0.708 0.04 38.652);
  --chart-4: oklch(0.205 0.015 85.873);
  --chart-5: oklch(0.346 0.025 85.873);
  --radius: 0.375rem;
  --sidebar: oklch(0.99 0.002 85.873);
  --sidebar-foreground: oklch(0.205 0.015 85.873);
  --sidebar-primary: oklch(0.205 0.015 85.873);
  --sidebar-primary-foreground: oklch(0.99 0.002 85.873);
  --sidebar-accent: oklch(0.922 0.004 85.873);
  --sidebar-accent-foreground: oklch(0.205 0.015 85.873);
  --sidebar-border: oklch(0.896 0.006 85.873);
  --sidebar-ring: oklch(0.439 0.042 38.652);
}

.dark {
  --background: oklch(0.145 0.015 85.873);
  --foreground: oklch(0.976 0.003 85.873);
  --card: oklch(0.205 0.015 85.873);
  --card-foreground: oklch(0.976 0.003 85.873);
  --popover: oklch(0.205 0.015 85.873);
  --popover-foreground: oklch(0.976 0.003 85.873);
  --primary: oklch(0.976 0.003 85.873);
  --primary-foreground: oklch(0.205 0.015 85.873);
  --secondary: oklch(0.556 0.058 38.652);
  --secondary-foreground: oklch(0.99 0.002 85.873);
  --muted: oklch(0.269 0.015 85.873);
  --muted-foreground: oklch(0.708 0.015 85.873);
  --accent: oklch(0.556 0.058 38.652);
  --accent-foreground: oklch(0.99 0.002 85.873);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.976 0.003 85.873);
  --border: oklch(0.269 0.015 85.873);
  --input: oklch(0.269 0.015 85.873);
  --ring: oklch(0.556 0.058 38.652);
  --chart-1: oklch(0.556 0.058 38.652);
  --chart-2: oklch(0.708 0.04 38.652);
  --chart-3: oklch(0.439 0.042 38.652);
  --chart-4: oklch(0.976 0.003 85.873);
  --chart-5: oklch(0.828 0.006 85.873);
  --sidebar: oklch(0.205 0.015 85.873);
  --sidebar-foreground: oklch(0.976 0.003 85.873);
  --sidebar-primary: oklch(0.556 0.058 38.652);
  --sidebar-primary-foreground: oklch(0.99 0.002 85.873);
  --sidebar-accent: oklch(0.269 0.015 85.873);
  --sidebar-accent-foreground: oklch(0.976 0.003 85.873);
  --sidebar-border: oklch(0.269 0.015 85.873);
  --sidebar-ring: oklch(0.556 0.058 38.652);
}

@theme inline {
  --font-sans: "Geist", "Geist Fallback";
  --font-mono: "Geist Mono", "Geist Mono Fallback";
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
